@import "tailwindcss";


/* 
.dark{
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
} */

.flex-box{
  display: flex;
  align-items: center;
  justify-content: center;
}

*{
}

body{
  width:100vw;
  overflow-x:none;
}